.headertext {
    text-align: center;
    display: grid;
    place-items: center;
    height: 91.5vh;
    width: 100%;
    background-image: url('../../Assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    position: relative;
}

.headertext .text {
    color: #F2F2F2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover {
    --b: 0.1em;   /* the thickness of the line */
    --c: #8C111B; /* the color */
  
    font-family: Lora, serif;
    text-shadow: 2px 2px #8C111B;
    font-size: 3rem;
    color: #fff;
    padding-block: var(--b);
    background: 
        linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover:hover {
  --_p: 100%;
  --_s: .3s;
}

.headertext .text p {
    font-family: lato, serif;
    width: 85%;
}

.icon a {
    color: #E5E5E5;
    font-size: 2rem;
    position: relative;
    top: 38vh;
}

.icon a:hover {
    color: #8C111B;
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 375px) {
    .headertext {
        height: 90vh;
    }


    .headertext .text {
        position: relative;
        color: #F2F2F2;
        width: 60%;
    }

    .text p {
        position: relative;
        top: 1rem;
    }


}

