@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #1D1E26;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #1D1E26;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0; */
}

.nav_menu {
    gap: 10px;
}

.nav_menu a {
    text-decoration: none;
    color: #F2F2F2;
    padding: 21.3px;
    font-size: 1.1rem;
}

.nav_menu a:hover {
    background-color: #8C111B;
    transition: 0.3s ease-in;
}

.nav_toggler div {
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #F2F2F2;    
}

.nav_toggler {
    display: none;
    cursor: pointer;
}

.nav_toggler > div:hover {
    background-color: #8C111B;
    transition: 0.4s ease-in;
}


@media screen and (max-width: 768px) {
    .nav_toggler {
        display: block;
    }

    .nav_menu {
        position: fixed;
        top: 5vh;
        right: 0;
        left: 0.32rem;
        width: 100%;
        height: 35vh;
        background-color: #1D1E26;
        flex-direction: column;
        display: flex;
        text-align: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 99999;
        gap: 2.438rem;
    }

                /* nav active class */
    .nav_active{
        transform: translateX(0);
    }

    /* toggler animation icon */

    .toggle .line1{
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-4px, -8px);
    }
}