.biography {
    display: flex;
    background-color: #1D1E26;
    color: hsl(0, 0%, 95%);
    height: 100vh;
}

.bio {
    position: relative;
    top: 25%;
    left: 10%;
}

.bio h2 {
    position: relative;
    left: 20%;
    top: -1rem;
    font-family: lora, serif;
}

.bio p {
    width: 65.3%;
    text-align: justify;
    text-justify: inter-word;
}

.bio-pics {
    width: 100%;
    position: relative;
    top: 20%;
}

.bio-pics img {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .biography {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 150vh;
    } 

    body {
        overflow-x: hidden;
    }

    .bio, .bio-pics {
        position: relative;
        /* left: 17%; */
    }

    .bio h2 {
        position: relative;
        top: -4.5rem;
        left: 30%;
    }

    .bio p {
        position: relative;
        top: -3rem;
        width: 80%;
        text-align: justify;
        text-justify: inter-word;
    }

    .bio-pics img{
        position: relative;
        top: -3rem;
        width: 70%;
    }
}

